.text-center {
  text-align: center;
}

#landing-img {
  margin-top: -8vh;
}

.img-fluid {
  box-shadow: 0px 0px 20px 8px rgb(161, 161, 161);
}

.slogan {
  font-size: 120px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  position: absolute;
  top: 18%;
  left: 12%;
  line-height: 98px;
  text-align: left;
  padding: auto;
}

.btn-home {
  border: 2px solid rgba(255, 255, 255, 0.782);
  padding: 6px 30px;
  position: relative;
  bottom: 180px;
  font-family: "Roboto", sans-serif;
  background-color: Transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  font-size: 50px;
  border-radius: 50px;
  transition: transform 250ms;
  z-index: 10000;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;

  a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
  }

  &:hover,
  :visited {
    background-color: rgb(0, 121, 207);
    border: 3px solid rgb(0, 121, 207);
    cursor: pointer;
    color: white;
    transform: translateY(-10px);
    transition: 250ms;
  }
}
