<div class="text-center">
<img src="https://images8.alphacoders.com/101/1018828.jpg" class="img-fluid" alt="Responsive image">
  <button class="btn"><%=link_to "View All Vehicles", vehicles_path%></button>
</div>
