<div class="body">
  <div class="text-center" id="landing-img">
    <img src="https://images8.alphacoders.com/101/1018828.jpg" class="img-fluid" alt="Responsive image">
    <button class="btn-home center"><%=link_to "View All Vehicles", vehicles_path%></button>
  </div>
  <div class="info">
    <h3 class="slogan">DRIVE YOUR DREAM CAR
      <br>
      TODAY.</h3>
  </div>
</div>
