.booking-card-row {
  display: flex;
  padding: 3rem 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}


.booking-card {
  width: 400px;
  min-width: 250px;
  padding: 2rem;
  border-radius: 16px;
  background: hsl(202, 75%, 74%);
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 2rem 2rem;
}

.booking-card:hover {
  transform: translateX(+1rem);
  background: #3088d1;
  color: rgb(228, 228, 228);
}

.booking-card span {
  font-size: 16px;
  opacity: 0.7;
  margin: 0;
  display: flex;
}

.booking-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.booking-card p {
  color: inherit
}

#days {
  position: relative;
  margin-top: -2;
  font-weight: lighter;
  opacity: 50%;
}
