.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  // min-height: 100%;
  padding: 2px;
}

#form-content {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.form-layout {
  padding: 8px;
}

#form-content h4 {
  color: #f6f6f6;
  padding: 4px;
}

.form-content input{
  text-align: center;
}

#form-footer {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

#form-header {
  background-color: rgb(0, 121, 207);
  text-align: center;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 10px 10px 0 0;
}

#form-header h4 {
  color: #f6f6f6;
  padding: 4px;
}

#form-header span {
  font-weight: lighter;
}

.form-btn {
  background-color: rgb(0, 121, 207);
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: large;
  border-radius: 5px;
}

.form-btn:hover {
  background-color: rgb(20, 77, 117);
}
