.mapboxgl-popup {
  max-width: 250px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content img {
  max-width: 100%;
  height: auto;
  padding: 4px;
}
