.navbar {
  width: 100%;
  background: rgb(0, 121, 207);
  padding: 10px 0;
  color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  height: 8vh;
  padding-right: 100px;
  padding-left: 100px;
  position: fixed;
  top: 0;
  z-index: 1000000000000000;
}

.navbar .flexbox {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

#name {
  font-weight: bold;
  font-size: 39px;
  color: rgb(255, 213, 63);
  text-decoration: none;
  font-family: "Shrikhand", cursive;
  font-family: "Yellowtail", cursive;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 5px 0 20px;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;

  font-size: 18px;

  &:hover {
    color: rgb(255, 213, 63);
  }
}
