.card{
  background: white;
  padding: 30px;
  border: 2px solid grey(255, 213, 63);
  width: 100%;
  box-shadow: 0px 2px 2px lightgrey
}

.card-search{
  background: white;
  padding: 4px;
  border: 2px solid grey(255, 213, 63);
  width: 200px;
  box-shadow: 0px 2px 2px lightgrey
}
