.card {
  background: white;
  border: 2px lightgrey (255, 213, 63);
  width: 100%;
  box-shadow: 0px 2px 6px 0px rgb(209, 209, 209);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-search{
  background: white;
  padding: 4px;
  border: 2px solid grey(255, 213, 63);
  width: 200px;
  box-shadow: 0px 2px 2px lightgrey
}
