<div class="container">


  <h1>Vehicles List</h1>
  <%= link_to "Go to Map View", map_path, class: "btn" %>

  <h1 class="header">Vehicles List</h1>
  <div class="vehicles-index">

    <% @vehicles.each do |vehicle| %>
  <ul>
    <li> <%= link_to vehicle.name, vehicle_path(vehicle) %>
      <% if vehicle.photo.attached? %>
        <%= cl_image_tag vehicle.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </li>
  </ul>
  <% end %>

  <%= link_to "New Vehicle", new_vehicle_path %>
  </div>

</div>
