<div class="container">

  <h1>Vehicles List</h1>
    <% @vehicles.each do |vehicle| %>
  <ul>
    <li> <%= link_to vehicle.name, vehicle_path(vehicle) %> </li>
  </ul>
  <% end %>

  <%= link_to "New Vehicle", new_vehicle_path %>

</div>
