<div class="overlay">
  <div class="banner">
    <div class="text-banner">
      <h1 id="banner-main">Available Vehicles</h1>
      <p id="banner-sub">Choose your ride from all of our available vehicles</p>
    </div>
  </div>
</div>
