<footer class="footer-basic">
    <div class="medias d-flex justify-content-center align-items-center">
      <a href="https://www.instagram.com/lewagonchile/?hl=es" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/lewagonbsas?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://app.slack.com/client/T02NE0241/C027YATL7MH/thread/D029YCAQ3F1-1636817146.002600" target="_blank"><i class="fab fa-slack"></i></a>
      <a href="https://www.facebook.com/lewagon/" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">FAQ</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Rent-A-Wagon © 2021</p>
</footer>
