<div class="fixed-top fixed-header">
        <div class="container">
            <nav>
               <label class="name">Rent-A-Wagon</label>

                <a href="home">Home</a>
                <a href="vehicles">Vehicles</a>
                <a href="bookings">Bookings</a>
                <a href="about">About</a>
                <a href="contact">Contact Us</a>
            </nav>
        </div>
    </div>
